.char-list {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 30% 30% 30%;
    width: 80%;
    margin: auto;
    background: #ffffff;
    justify-items: center;

}

.container {

}

html {
    background: #8f8f8f
}